{% extends 'admin/base.html.twig' %}
{% block title %}
    Editace akce
{% endblock %}

{% block heading %}
    Editace akce
{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.name,) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.schedule) }}
                    {{ form_widget(form.schedule, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_label(form.photo) }}
                    {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {% if event.photo %}
            <div class="row mb-4">
                <div class="col text-center">
                    <div>
                        <a href="{{ asset(event.photo) }}" target="_blank">
                            <img src="{{ asset(event.photo) }}" alt="fileIcon" style="width: 50px;">
                            <br>
                            Náhledová fotka</a>
                        <br>
                    </div>
                    <a href="{{ path('app_admin_event_photo_delete', {id: event.id}) }}" class="btn btn-danger text-center">
                        <i class="fas fa-trash fa-sm fa-fw text-gray-400"></i>
                        Smazat
                    </a>
                </div>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Uložit akci</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('tinymce/tinymce.min.js') }}"></script>

    <script>
        tinymce.init({
            selector: '#event_schedule'
        });
    </script>
{% endblock %}