<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('assets/icons/favicon-96x96.png') }}">
        <link href="https://fonts.cdnfonts.com/css/linux-biolinum" rel="stylesheet">

        <!-- Tento link na bootstrap je na stránce pouze kvůli části jiného studenta (placení v bitcoinu) na přání pana Merunky -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% set routeParams = app.request.attributes.get('_route_params') %}
        <nav class="topnav" id="myTopnav">
            <a id="home" href="#" class="active">{{ 'menu.home'|trans({}, 'homepage') }}</a>
            <a id="historie" href="#historieSection">{{ 'menu.history'|trans({}, 'homepage') }}</a>
            <a id="kalendar" href="#kalendarSection">{{ 'menu.calendar'|trans({}, 'homepage') }}</a>
            <a id="clanky" href="#clankySection">{{ 'menu.articles'|trans({}, 'homepage') }}</a>
            <a id="dokumenty" href="#dokumentySection">{{ 'menu.documents'|trans({}, 'homepage') }}</a>
            <a id="contact" href="#contactSection">{{ 'menu.contact'|trans({}, 'homepage') }}</a>
            <a class="{% if app.request.locale == 'cs'%}active{% endif %} lang" href="{{ path('app_homepage', routeParams|merge({'_locale':'cs'})) }}">CS</a>
            <a class="{% if app.request.locale == 'ms'%}active{% endif %} lang" href="{{ path('app_homepage', routeParams|merge({'_locale':'ms'})) }}">MS</a>
            <a class="link-admin" href="{{ path('app_admin_contact') }}" target="_blank"><i class="fa-solid fa-user"></i></a>
            <a href="javascript:void(0);" class="icon" onclick="menuToggle()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            <article class="container footer-wrapper">
                <section>
                    <p><span class="bold">Zodpovědná osoba:</span> Tomáš Stejskal</p>
                </section>
                <section>
                    <p><span class="bold">IČO:</span> 0102038202</p>
                </section>
                <section>
                    <p><span class="bold">Bankovní spojení:</span> 111222333/0600</p>
                </section>
                <!-- Proklik na část od jiného studenta na přání pana Merunky -->
                <section>
                    <a href="{{ asset('bitcoin/form.php') }}" class="btn btn-lg btn-dark"><img src="{{ asset('assets/bitcoin.svg.png') }}" alt="bitcoin logo" style="width: 30px">Podpořte nás v BTC</a>
                </section>
            </article>
        </footer>

        {% block endJavascripts %}{% endblock %}
    </body>
</html>
